In [11]:
import pandas as pd
import numpy as np

In [2]:
serie = pd.Series()

In [3]:
print(serie)

Series([], dtype: object)

In [4]:
data = np.array(['S','a','m','u','e','l'])

In [5]:
serie = pd.Series(data)

In [6]:
serie

0    S
1    a
2    m
3    u
4    e
5    l
dtype: object

In [7]:
pip install jupyter_contrib_nbextensions

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jupyter_contrib_nbextensions in ./.local/lib/python3.10/site-packages (0.7.0)
Requirement already satisfied: ipython-genutils in /usr/lib/python3/dist-packages (from jupyter_contrib_nbextensions) (0.2.0)
Requirement already satisfied: jupyter-contrib-core>=0.3.3 in ./.local/lib/python3.10/site-packages (from jupyter_contrib_nbextensions) (0.4.2)
Requirement already satisfied: jupyter-core in ./.local/lib/python3.10/site-packages (from jupyter_contrib_nbextensions) (5.3.1)
Requirement already satisfied: jupyter-highlight-selected-word>=0.1.1 in ./.local/lib/python3.10/site-packages (from jupyter_contrib_nbextensions) (0.2.0)
Requirement already satisfied: jupyter-nbextensions-configurator>=0.4.0 in ./.local/lib/python3.10/site-packages (from jupyter_contrib_nbextensions) (0.6.4)
Requirement already satisfied: lxml in /usr/lib/python3/dist-packages (from jupyter_contrib_nbextensions) (4.8.0)
Requirement already satisfied: nbconvert>=6.0 in ./.local/lib/python3.10/site-packages (from jupyter_contrib_nbextensions) (7.16.4)
Requirement already satisfied: notebook>=6.0 in ./.local/lib/python3.10/site-packages (from jupyter_contrib_nbextensions) (7.2.2)
Requirement already satisfied: tornado in ./.local/lib/python3.10/site-packages (from jupyter_contrib_nbextensions) (6.4.1)
Requirement already satisfied: traitlets>=4.1 in ./.local/lib/python3.10/site-packages (from jupyter_contrib_nbextensions) (5.14.3)
Requirement already satisfied: setuptools in /usr/lib/python3/dist-packages (from jupyter-contrib-core>=0.3.3->jupyter_contrib_nbextensions) (59.6.0)
Requirement already satisfied: jupyter-server in ./.local/lib/python3.10/site-packages (from jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (2.14.2)
Requirement already satisfied: pyyaml in /usr/lib/python3/dist-packages (from jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (5.4.1)
Requirement already satisfied: beautifulsoup4 in /usr/lib/python3/dist-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (4.10.0)
Requirement already satisfied: bleach!=5.0.0 in /usr/lib/python3/dist-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (4.1.0)
Requirement already satisfied: defusedxml in /usr/lib/python3/dist-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (0.7.1)
Requirement already satisfied: jinja2>=3.0 in /usr/lib/python3/dist-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (3.0.3)
Requirement already satisfied: jupyterlab-pygments in /usr/lib/python3/dist-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (0.1.2)
Requirement already satisfied: markupsafe>=2.0 in ./.local/lib/python3.10/site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (2.1.3)
Requirement already satisfied: mistune<4,>=2.0.3 in ./.local/lib/python3.10/site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in /usr/lib/python3/dist-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (0.5.6)
Requirement already satisfied: nbformat>=5.7 in ./.local/lib/python3.10/site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (5.10.4)
Requirement already satisfied: packaging in ./.local/lib/python3.10/site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (23.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/lib/python3/dist-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (1.5.0)
Requirement already satisfied: pygments>=2.4.1 in ./.local/lib/python3.10/site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (2.17.2)
Requirement already satisfied: tinycss2 in ./.local/lib/python3.10/site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (1.3.0)
Requirement already satisfied: platformdirs>=2.5 in ./.local/lib/python3.10/site-packages (from jupyter-core->jupyter_contrib_nbextensions) (3.10.0)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in ./.local/lib/python3.10/site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (2.27.3)
Requirement already satisfied: jupyterlab<4.3,>=4.2.0 in ./.local/lib/python3.10/site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (4.2.5)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in ./.local/lib/python3.10/site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (0.2.4)
Requirement already satisfied: anyio>=3.1.0 in ./.local/lib/python3.10/site-packages (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (4.4.0)
Requirement already satisfied: argon2-cffi>=21.1 in /usr/lib/python3/dist-packages (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (21.1.0)
Requirement already satisfied: jupyter-client>=7.4.4 in ./.local/lib/python3.10/site-packages (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (8.6.2)
Requirement already satisfied: jupyter-events>=0.9.0 in ./.local/lib/python3.10/site-packages (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in ./.local/lib/python3.10/site-packages (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (0.5.3)
Requirement already satisfied: overrides>=5.0 in ./.local/lib/python3.10/site-packages (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (7.7.0)
Requirement already satisfied: prometheus-client>=0.9 in /usr/lib/python3/dist-packages (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (0.9.0)
Requirement already satisfied: pyzmq>=24 in ./.local/lib/python3.10/site-packages (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (26.2.0)
Requirement already satisfied: send2trash>=1.8.2 in ./.local/lib/python3.10/site-packages (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /usr/lib/python3/dist-packages (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (0.13.1)
Requirement already satisfied: websocket-client>=1.7 in ./.local/lib/python3.10/site-packages (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (1.8.0)
Requirement already satisfied: async-lru>=1.0.0 in ./.local/lib/python3.10/site-packages (from jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (2.0.4)
Requirement already satisfied: httpx>=0.25.0 in ./.local/lib/python3.10/site-packages (from jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (0.27.2)
Requirement already satisfied: ipykernel>=6.5.0 in ./.local/lib/python3.10/site-packages (from jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (6.25.1)
Requirement already satisfied: jupyter-lsp>=2.0.0 in ./.local/lib/python3.10/site-packages (from jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (2.2.5)
Requirement already satisfied: tomli>=1.2.2 in ./.local/lib/python3.10/site-packages (from jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (2.0.1)
Requirement already satisfied: babel>=2.10 in ./.local/lib/python3.10/site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (2.16.0)
Requirement already satisfied: json5>=0.9.0 in ./.local/lib/python3.10/site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (0.9.25)
Requirement already satisfied: jsonschema>=4.18.0 in ./.local/lib/python3.10/site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (4.23.0)
Requirement already satisfied: requests>=2.31 in ./.local/lib/python3.10/site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (2.32.3)
Requirement already satisfied: fastjsonschema>=2.15 in ./.local/lib/python3.10/site-packages (from nbformat>=5.7->nbconvert>=6.0->jupyter_contrib_nbextensions) (2.20.0)
Requirement already satisfied: webencodings>=0.4 in /usr/lib/python3/dist-packages (from tinycss2->nbconvert>=6.0->jupyter_contrib_nbextensions) (0.5.1)
Requirement already satisfied: idna>=2.8 in /usr/lib/python3/dist-packages (from anyio>=3.1.0->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (3.3)
Requirement already satisfied: sniffio>=1.1 in ./.local/lib/python3.10/site-packages (from anyio>=3.1.0->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (1.3.1)
Requirement already satisfied: exceptiongroup>=1.0.2 in ./.local/lib/python3.10/site-packages (from anyio>=3.1.0->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (1.2.0)
Requirement already satisfied: typing-extensions>=4.1 in ./.local/lib/python3.10/site-packages (from anyio>=3.1.0->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (4.9.0)
Requirement already satisfied: certifi in /usr/lib/python3/dist-packages (from httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (2020.6.20)
Requirement already satisfied: httpcore==1.* in ./.local/lib/python3.10/site-packages (from httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (1.0.5)
Requirement already satisfied: h11<0.15,>=0.13 in ./.local/lib/python3.10/site-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (0.14.0)
Requirement already satisfied: comm>=0.1.1 in ./.local/lib/python3.10/site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (0.1.4)
Requirement already satisfied: debugpy>=1.6.5 in ./.local/lib/python3.10/site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (1.6.7.post1)
Requirement already satisfied: ipython>=7.23.1 in ./.local/lib/python3.10/site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (8.18.1)
Requirement already satisfied: matplotlib-inline>=0.1 in ./.local/lib/python3.10/site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (0.1.6)
Requirement already satisfied: nest-asyncio in /usr/lib/python3/dist-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (1.5.4)
Requirement already satisfied: psutil in ./.local/lib/python3.10/site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (5.9.5)
Requirement already satisfied: attrs>=22.2.0 in ./.local/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in ./.local/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in ./.local/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in ./.local/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (0.20.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.local/lib/python3.10/site-packages (from jupyter-client>=7.4.4->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (2.8.2)
Requirement already satisfied: python-json-logger>=2.0.4 in ./.local/lib/python3.10/site-packages (from jupyter-events>=0.9.0->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (2.0.7)
Requirement already satisfied: rfc3339-validator in ./.local/lib/python3.10/site-packages (from jupyter-events>=0.9.0->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in ./.local/lib/python3.10/site-packages (from jupyter-events>=0.9.0->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (0.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.local/lib/python3.10/site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/lib/python3/dist-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (1.26.5)
Requirement already satisfied: decorator in ./.local/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (5.1.1)
Requirement already satisfied: jedi>=0.16 in ./.local/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (0.19.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in ./.local/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (3.0.43)
Requirement already satisfied: stack-data in ./.local/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (0.6.3)
Requirement already satisfied: pexpect>4.3 in ./.local/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (4.9.0)
Requirement already satisfied: fqdn in ./.local/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (1.5.1)
Requirement already satisfied: isoduration in ./.local/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in ./.local/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (3.0.0)
Requirement already satisfied: uri-template in ./.local/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in ./.local/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (24.8.0)
Requirement already satisfied: six>=1.5 in ./.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->jupyter-client>=7.4.4->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in ./.local/lib/python3.10/site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in ./.local/lib/python3.10/site-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (0.7.0)
Requirement already satisfied: wcwidth in ./.local/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (0.2.12)
Requirement already satisfied: arrow>=0.15.0 in ./.local/lib/python3.10/site-packages (from isoduration->jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (1.3.0)
Requirement already satisfied: executing>=1.2.0 in ./.local/lib/python3.10/site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in ./.local/lib/python3.10/site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (2.4.1)
Requirement already satisfied: pure-eval in ./.local/lib/python3.10/site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=6.0->jupyter_contrib_nbextensions) (0.2.2)
Requirement already satisfied: types-python-dateutil>=2.8.10 in ./.local/lib/python3.10/site-packages (from arrow>=0.15.0->isoduration->jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (2.9.0.20240821)
DEPRECATION: distro-info 1.1build1 has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of distro-info or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
DEPRECATION: gpg 1.16.0-unknown has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of gpg or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
DEPRECATION: python-debian 0.1.43ubuntu1 has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of python-debian or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [8]:
jupyter contrib nbextension install --user

SyntaxError: invalid syntax (1639211862.py, line 1)

In [ ]:
dafra = pd.DataFrame()

In [13]:
lista = ['hoje', 'eh', 'terca', 'feira']

In [9]:
jupyter contrib nbextension install --user

SyntaxError: invalid syntax (1639211862.py, line 1)

In [10]:
contrib nbextension install --user

SyntaxError: invalid syntax (4206009406.py, line 1)

In [15]:
dict = {'Nome': ['Armando', 'Claudio', 'Alfredo', 'Gabriel', 'Fabricio'],
       'Idade': ['41', '26', '89', '19', '42'],
       'Cidade': ['Guarulhos', 'SAo Paulo', 'Indaiatuba', 'Santos', 'Guarulhos'],
       'Profissao': ['Advogado', 'Tecnico', 'Advogado', 'Tecnico', 'Advogado']}

In [16]:
dafra = pd.DataFrame(dict)

In [20]:
print(dafra[['Cidade', 'Profissao']])

       Cidade Profissao
0   Guarulhos  Advogado
1   SAo Paulo   Tecnico
2  Indaiatuba  Advogado
3      Santos   Tecnico
4   Guarulhos  Advogado

In [21]:
dict = {'Nome': ['Armando', 'Claudio', 'Alfredo', 'Gabriel', 'Fabricio'],
       'Idade': ['41', '26', '89', '19', '42'],
       'Profissao': ['Advogado', 'Tecnico', 'Advogado', 'Tecnico', 'Advogado']}

In [22]:
dafra2 = pd.DataFrame(dict)

In [25]:
cidade = ['Guarulhos', 'SAo Paulo', 'Indaiatuba', 'Santos', 'Guarulhos']

In [36]:
dafra2['Cidade'] = cidade

In [37]:
dafra2

       Nome Idade Profissao      Cidade
0   Armando    41  Advogado   Guarulhos
1   Claudio    26   Tecnico   SAo Paulo
2   Alfredo    89  Advogado  Indaiatuba
3   Gabriel    19   Tecnico      Santos
4  Fabricio    42  Advogado   Guarulhos

In [46]:
dafra2.drop(columns=['Cidade'], inplace=True)

In [47]:
dafra2

       Nome Idade Profissao
2   Alfredo    89  Advogado
3   Gabriel    19   Tecnico
4  Fabricio    42  Advogado

In [48]:
dafra2.iloc[0]

Nome          Alfredo
Idade              89
Profissao    Advogado
Name: 2, dtype: object

In [50]:
dafra2.drop([0, 1])

KeyError: '[0, 1] not found in axis'

In [51]:
dafra2

       Nome Idade Profissao
2   Alfredo    89  Advogado
3   Gabriel    19   Tecnico
4  Fabricio    42  Advogado

In [52]:
dafra2.insert(2, 'Cidade', ['Indaiatuba', 'Santos', 'Guarulhos'])

In [53]:
dafra2

       Nome Idade      Cidade Profissao
2   Alfredo    89  Indaiatuba  Advogado
3   Gabriel    19      Santos   Tecnico
4  Fabricio    42   Guarulhos  Advogado

In [74]:
dafra2.drop(columns=['Cidade'], inplace=True)

In [55]:
dafra2.insert(3, 'Cidade', ['Indaiatuba', 'Santos', 'Guarulhos'])

In [58]:
dafra2

       Nome Idade Profissao
2   Alfredo    89  Advogado
3   Gabriel    19   Tecnico
4  Fabricio    42  Advogado

In [60]:
dafra.assign(cidade = ['Indaiatuba', 'Santos', 'Guarulhos'])

ValueError: Length of values (3) does not match length of index (5)

In [61]:
dafra2

       Nome Idade Profissao
2   Alfredo    89  Advogado
3   Gabriel    19   Tecnico
4  Fabricio    42  Advogado

In [62]:
dict = {'Nome': ['Armando', 'Claudio', 'Alfredo', 'Gabriel', 'Fabricio'],
       'Idade': ['41', '26', '89', '19', '42'],
       'Profissao': ['Advogado', 'Tecnico', 'Advogado', 'Tecnico', 'Advogado']}

In [63]:
dafra2 = pd.DataFrame(dict)

In [67]:
cidades =  {'Gabriel': 'Guarulhos', 'Armando': 'SAo Paulo', 'Claudio': 'Indaiatuba','Alfredo': 'Santos','Fabricio': 'Guarulhos'}

In [76]:
dafra2['Cidade'] = cidades

In [77]:
dafra2

       Nome Idade Profissao Cidade
0   Armando    41  Advogado    NaN
1   Claudio    26   Tecnico    NaN
2   Alfredo    89  Advogado    NaN
3   Gabriel    19   Tecnico    NaN
4  Fabricio    42  Advogado    NaN

In [78]:
dafra2.loc[:, 'Cidade']=cidade

In [79]:
dafra2

       Nome Idade Profissao      Cidade
0   Armando    41  Advogado   Guarulhos
1   Claudio    26   Tecnico   SAo Paulo
2   Alfredo    89  Advogado  Indaiatuba
3   Gabriel    19   Tecnico      Santos
4  Fabricio    42  Advogado   Guarulhos

In [80]:
dict = {'Nome': ['Armando', 'Claudio', 'Alfredo', 'Gabriel', 'Fabricio'],
       'Idade': ['41', '26', '89', '19', '42'],
       'Profissao': ['Advogado', 'Tecnico', 'Advogado', 'Tecnico', 'Advogado']}
dafra2 = pd.DataFrame(dict)

In [81]:
dafra2

       Nome Idade Profissao
0   Armando    41  Advogado
1   Claudio    26   Tecnico
2   Alfredo    89  Advogado
3   Gabriel    19   Tecnico
4  Fabricio    42  Advogado

In [82]:
cidade = ['Guarulhos', 'SAo Paulo', 'Indaiatuba', 'Santos', 'Guarulhos']

In [84]:
profissao =  ['Advogado', 'Tecnico', 'Advogado', 'Tecnico', 'Advogado']

In [85]:
novo_dado = {'Cidade':cidade, 'Profissao':profissao}

In [86]:
dafra2=dafra2.assign(**novo_dado)

In [87]:
dafra2

       Nome Idade Profissao      Cidade
0   Armando    41  Advogado   Guarulhos
1   Claudio    26   Tecnico   SAo Paulo
2   Alfredo    89  Advogado  Indaiatuba
3   Gabriel    19   Tecnico      Santos
4  Fabricio    42  Advogado   Guarulhos

In [ ]:
## Groupby
# divisao, aplicacao de funcao, combinacao de diferentes dados,

In [90]:
dict = {'Nome': ['Armando', 'Claudio', 'Alfredo', 'Gabriel', 'Fabricio'],
       'Idade': ['41', '26', '89', '19', '42'],
       'Profissao': ['Advogado', 'Tecnico', 'Advogado', 'Tecnico', 'Advogado']}

In [125]:
cidade = ['Guarulhos', 'SAo Paulo', 'Santos', 'Santos', 'Guarulhos']

In [126]:
dafra2['Cidade'] = cidade

In [95]:
print(dafra2.groupby('Cidade').groups)

{'Guarulhos': [0, 4], 'Indaiatuba': [2], 'SAo Paulo': [1], 'Santos': [3]}

grupo = dafra2.groupby('Cidade')

In [98]:
grupo.first()

NameError: name 'grupo' is not defined

In [99]:
dafra2.groupby(['Cidade','Profissao'])

In [101]:
print(dafra2.groupby(['Cidade','Profissao']).groups)

{('Guarulhos', 'Advogado'): [0, 4], ('Indaiatuba', 'Advogado'): [2], ('SAo Paulo', 'Tecnico'): [1], ('Santos', 'Tecnico'): [3]}

In [105]:
grupo2=dafra2.groupby(['Profissao','Cidade'])

In [106]:
grupo2.first()

                         Nome Idade
Profissao Cidade
Advogado  Guarulhos   Armando    41
          Indaiatuba  Alfredo    89
Tecnico   SAo Paulo   Claudio    26
          Santos      Gabriel    19

In [112]:
dafra2.groupby(['Profissao']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [118]:
grupo = dafra.groupby(['Cidade', 'Profissao'])
for cidade, profissao in grupo:
    print(nome)
    print(profissao)
    print()

('Santos', 'Tecnico')
       Nome Idade     Cidade Profissao
0   Armando    41  Guarulhos  Advogado
4  Fabricio    42  Guarulhos  Advogado

('Santos', 'Tecnico')
      Nome Idade      Cidade Profissao
2  Alfredo    89  Indaiatuba  Advogado

('Santos', 'Tecnico')
      Nome Idade     Cidade Profissao
1  Claudio    26  SAo Paulo   Tecnico

('Santos', 'Tecnico')
      Nome Idade  Cidade Profissao
3  Gabriel    19  Santos   Tecnico

In [123]:
grupo = dafra2.groupby('Profissao')
dafra3 = grupo.get_group('Advogado')

In [124]:
grupo = dafra2.groupby('Profissao')
grupo.get_group('Tecnico')

      Nome Idade Profissao     Cidade
1  Claudio    26   Tecnico  SAo Paulo
3  Gabriel    19   Tecnico     Santos

In [129]:
grupo = dafra2.groupby(['Cidade','Profissao'])
grupo.get_group(('Santos','Tecnico'))

      Nome Idade Profissao  Cidade
3  Gabriel    19   Tecnico  Santos

In [140]:
dafra2.aggregate(np.sum)

/tmp/ipykernel_8385/3910473039.py:1: FutureWarning: The provided callable <function sum at 0x7be0ec20ee60> is currently using DataFrame.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dafra2.aggregate(np.sum)

Nome            ArmandoClaudioAlfredoGabrielFabricio
Idade                                     4126891942
Profissao     AdvogadoTecnicoAdvogadoTecnicoAdvogado
Cidade       GuarulhosSAo PauloSantosSantosGuarulhos
dtype: object

In [136]:
grupo.all()

                     Nome  Idade
Cidade    Profissao
Guarulhos Advogado   True   True
SAo Paulo Tecnico    True   True
Santos    Advogado   True   True
          Tecnico    True   True

In [138]:
dafra2

       Nome Idade Profissao     Cidade
0   Armando    41  Advogado  Guarulhos
1   Claudio    26   Tecnico  SAo Paulo
2   Alfredo    89  Advogado     Santos
3   Gabriel    19   Tecnico     Santos
4  Fabricio    42  Advogado  Guarulhos

In [145]:
grupo = dafra2.groupby(['Cidade','Profissao'])
dafra2.aggregate('mean')

TypeError: Could not convert ['ArmandoClaudioAlfredoGabrielFabricio' '4126891942'] to numeric

In [148]:
dafra.groupby['Idade'].aggregate('mean')

TypeError: 'method' object is not subscriptable

In [ ]:
dafra.merge()
dafra.join()
dafra.concat()

In [159]:
dict = {'Nome': ['Armando', 'Claudio', 'Alfredo', 'Gabriel', 'Fabricio'],
       'Idade': [41, 26, 89, 19, 42],
       'Profissao': ['Advogado', 'Tecnico', 'Advogado', 'Tecnico', 'Advogado'],
        'Cidade': ['Guarulhos', 'Sao Paulo', 'Santos', 'Santos', 'Guarulhos']}

dict2 = {'Nome': ['Walter', 'Pablo', 'Danilo', 'Gandalf', 'Zelia'],
       'Idade': [41, 26, 89, 19, 42],
       'Profissao': ['Advogado', 'Tecnico', 'Advogado', 'Tecnico', 'Advogado'],
        'Cidade': ['Guarulhos', 'Sao Paulo', 'Santos', 'Santos', 'Guarulhos']}

In [160]:
dafra1 =pd.DataFrame(dict, index=[0,1,2,3,4])
dafra2=pd.DataFrame(dict2, index=[5,6,7,8,9])

In [161]:
print(dafra1, '\n\n', dafra2)

       Nome  Idade Profissao     Cidade
0   Armando     41  Advogado  Guarulhos
1   Claudio     26   Tecnico  Sao Paulo
2   Alfredo     89  Advogado     Santos
3   Gabriel     19   Tecnico     Santos
4  Fabricio     42  Advogado  Guarulhos

       Nome  Idade Profissao     Cidade
5   Walter     41  Advogado  Guarulhos
6    Pablo     26   Tecnico  Sao Paulo
7   Danilo     89  Advogado     Santos
8  Gandalf     19   Tecnico     Santos
9    Zelia     42  Advogado  Guarulhos

In [162]:
lista = [dafra1, dafra2]
result = pd.concat(lista)

In [ ]:
result2=pd.concat